{% extends 'components/base.html' %}

{% block title_name %}About Us{% endblock %}

{% block content %}

    <div class="about-us">
        <div class="container">
            <div class="about-us-us">
                <div class="profile">
                    <h1>จัดทำโดย</h1>
                    <h2>นาย วรชาติ เก่งธนคุณ</h2>
                    <h3>email : worachat.kengthanakun@gmail.com</h3>
                    <h3>phone : 0619759598</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}